[Desktop Entry]
Version=1.0
Type=Application
Name=Docker
Exec=lazydocker
Icon=/home/mj/.dotfiles/apps/.local/share/icons/Docker.png
Terminal=true
StartupWMClass=lazydocker