[Desktop Entry]
Version=1.0
Name=Excalidraw
Comment=Excalidraw
Exec=google-chrome --app=https://excalidraw.com
Terminal=false
Type=Application
Icon=/home/mj/.local/share/icons/Excalindraw.png
StartupNotify=true
