[Desktop Entry]
Version=1.0
Name=Teams
Comment=Teams
Exec=google-chrome --app=https://teams.microsoft.com
Terminal=false
Type=Application
Icon=/home/mj/.local/share/icons/Teams.png
StartupNotify=true
