[user]
	name = Jihed Mastouri
	email = ""
	signingkey = 879388D522AC0FA5

[includeIf "gitdir:~/devenv/work/"]
	path = ~/devenv/work/.gitconfig-work

[commit]
	gpgsign = true
[core]
	editor = $EDITOR
[merge]
	tool = vimdiff
[alias]
	s = status
	d = diff --color-words
	c = commit -m
	l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    ll = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --name-status
[push]
	default = matching
[pull]
	rebase = false
[init]
	defaultBranch = master
