"" Source your .vimrc
source ~/.config/nvim/sharedVim/opts.vim
source ~/.config/nvim/sharedVim/keys.vim

" Settings
set visualbell
set ideamarks
set ideajoin
set clipboard

" Plugins
set surround
set easymotion
set commentary
set highlightedyank
set NERDTree
set commentary
set vim-paragraph-motion
set textobj-indent
set matchit

" Actions
nnoremap <leader>r :action ReformatCode<CR>
nnoremap <leader>s :action SelectIn<CR>
nnoremap <leader>ca :action GotoAction<CR>
nnoremap <leader>gi :action ShowUsages<CR>
nnoremap <leader>gd :action GotoDeclaration<CR>
nnoremap <leader>re :action RenameElement<CR>

" Normal Mapping
map Q gq " Don't use Ex mode, use Q for formatting.
nnoremap <leader>ff :action GotoFile<CR>
nnoremap <leader>fg :action TextOccurrences<CR>
nnoremap <leader>/ :NERDTree<CR>

nnoremap <Enter> za
vnoremap <Enter> za
nnoremap Y y$

" switch panes nicely
nnoremap <C-h> <C-w>h
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-l> <C-w>l

" Bubble single lines
nmap <a-k> :m .-2<CR>

rmap <a-j> :m  .+1<Cr>
" Handlers
sethandler <S-Tab> a:vim
sethandler <C-2> a:ide
sethandler <C-S-2> a:ide
sethandler <C-6> a:ide
sethandler <C-S-6> a:ide
sethandler <C-A> a:vim
sethandler <C-B> a:vim
sethandler <C-C> a:vim
sethandler <C-D> a:vim
sethandler <C-E> a:vim
sethandler <C-F> a:vim
sethandler <C-G> a:ide
sethandler <C-H> a:ide
sethandler <C-I> a:ide
sethandler <C-J> a:ide
sethandler <C-K> a:ide
sethandler <C-L> a:ide
sethandler <C-M> a:ide
sethandler <C-N> a:vim
sethandler <C-O> a:vim
sethandler <C-p> n-v:ide i:vim
sethandler <C-R> a:vim
sethandler <C-S> a:ide
sethandler <C-T> a:ide
sethandler <C-U> a:vim
sethandler <C-V> n-v:vim i:ide
sethandler <C-W> a:vim
sethandler <C-X> a:vim
sethandler <C-Y> a:vim
sethandler <C-[> a:ide
sethandler <C-\> a:ide
sethandler <C-/> a:ide
sethandler <C-]> a:ide
