set surround
set easymotion
map <leader>r <Action>(ReformatCode)
map <leader>s <Action>(SelectIn)

" Normal Mapping
nnoremap <C-w>v <Action>(EditorSplitMoveRight)
nmap <S-s> <Plug>
map Q gq " Don't use Ex mode, use Q for formatting.

"" Source your .vimrc
source ~/.vimrc

