[user]
  name = Jihed Mastouri
  email = "jihedmastouri.inbox@gmail.com"
  signingkey = 84EC536DFB6A144041B8F43E730576EC23EF6E38

[commit]
  gpgsign = true

[includeIf "gitdir:~/devenv/work/"]
  path = ~/devenv/work/.gitconfig-work

[core]
  editor = $EDITOR
  pager = delta

[interactive]
  diffFilter = delta --color-only
; [add.interactive]
;     useBuiltin = false # required for git 2.37.0

[delta]
  navigate = true    # use n and N to move between diff sections
  side-by-side=true

[merge]
  ; conflictstyle = diff3
  tool = vimdiff
[mergetool]
  ; prompt = false
  keepBackup = false
[mergetool "vimdiff"]
  cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'

[alias]
  c = commit -m
  ca = commit --amend
  ds = diff --staged
  fa = fetch -a
  l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  ll = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --name-status
  recap = for-each-ref --sort=-committerdate refs/heads/ --format='%00%(color:yellow) %(committerdate:short) %00%(color:green)%(refname:short): %00%(color:cyan)%(subject) %00%(color:reset) <%(authorname)> '
  rh = reset --hard
  s = status
  sw = switch
  undo = reset HEAD^ --soft

[pull]
  rebase = false
  default = current
  autoSetupRemote = true

[push]
  autoSetupRemote = true
  default = current

[init]
  defaultBranch = main
